version: "3.9"

services:
  mysql:
    image: mysql:latest
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 0000
      MYSQL_DATABASE: DB
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

#  api:


volumes:
  mysql_data:
